<footer class="footer">
    <div class="container">
      <div class="row footer__top">
        <div class="col-md-4 footer__brand">
          <h4 class="footer__brand-title">Cosméticos</h4>
          <p class="footer__brand-description">Belleza que inspira. Calidad que perdura.</p>
        </div>
        <div class="col-md-4 footer__links">
          <h5 class="footer__links-title">Enlaces</h5>
          <ul class="footer__links-list">
            <li class="footer__links-item"><a href="#" class="footer__links-link">Inicio</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Productos</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Sobre Nosotros</a></li>
            <li class="footer__links-item"><a href="#" class="footer__links-link">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4 footer__social">
          <h5 class="footer__social-title">Síguenos</h5>
          <ul class="footer__social-list">
            <li class="footer__social-item"><a href="#" class="footer__social-link">Facebook</a></li>
            <li class="footer__social-item"><a href="#" class="footer__social-link">Instagram</a></li>
            <li class="footer__social-item"><a href="#" class="footer__social-link">Twitter</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__bottom-text">© 2024 Cosméticos. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  
