<div class="menu-container container d-flex justify-content-between mb-5">
    <ul class="menu-container__nav nav ms-auto gap-3">
        <li class="menu-container__nav-item av-item">
            <a class="menu-container__nav-link nav-link" href="#">SHOP</a>
        </li>
        <li class="menu-container__nav-item nav-item">
            <a class="menu-container__nav-link nav-link" href="#">TABOUT ABANO COSMETICS</a>
        </li>
        <li class="menu-container__nav-item nav-item">
            <a class="menu-container__nav-link nav-link" href="#">BEAUTY TIPS</a>
        </li>       
        <li class="menu-container__nav-item nav-item">
            <a class="menu-container__nav-link nav-link" href="#">BLOG</a>
        </li>
        <li class="menu-container__nav-item nav-item">
            <a class="menu-container__nav-link nav-link" href="#">CONTACT</a>
        </li>   
    </ul>
</div>
 
