<div class="banner">
    <div class="container overflow-hidden border border-2 border-black p-5 mb-5">
      <div class="row">
        <div class="col-md-6 banner__content p-2">
          <p class="banner__content-text">WELCOME TO ABANO COSMETICS WHERE WE BELIEVE IN THE POWER OF NATURAL BEAUTY OUT MISSION IS TO CREATE EFFECTIVE. HIGH-QUALITY COSMETICS THAT ENCHANCE YOUR NATURAL FEAUTRES AND LEAVE YOU FEELING CONFIDENT AND BEAUTIFUL.</p>
          <a href="#" class="banner__content-button btn w-25">SHOP NOW</a>
        </div>
        <div class="col-md-6 banner__image">
          <img src="assets/images/banner/cosmetics.jpg" alt="Imagen de ejemplo" class="banner__image-img">
        </div>
      </div>
    </div>
  </div>
  
