<div class="cards-container d-flex flex-wrap justify-content-around text-center">
  @for (product of products; track $index) 
  {
    <div class="cards-container__card card p-3">
        <img [src]="product.image" class="card-img-top cards-container__card-img" alt="...">

        <div class="card-body">
          <h6 class="card-title cards-container__card__card-title">{{ product.title | uppercase}} <span>{{ product.price | currency : 'COP' : 'symbol' : '1.0-0' : 'es-CO' }}</span> </h6>
          
          <a [href]="product.link" class="cards-container__card__card-button btn">ADD TO CART</a>
        </div>
    </div>
  }@empty { <h3> NO PRODUCTS FOUND! </h3> }
</div>