@import "variables";

.cards-container{
    &__card{
        width: 18rem;

        &__card-button{
            background-color: $secondary-color;
            color: $white-color;
            border-radius: 0;
            transition: background-color 0.3s ease;
        }

        &__card-button:hover{
            background-color: $primary-color;
        }

        &__card-title{
            line-height: 2.5;
        }
    }

    &__card-img{
        height: 40vh;
    }
}

