<div class="container d-flex justify-content-between">
    <div>
        <!-- Logo -->
        <img src="assets/images/logos/logo.png"  alt="logo"/>
    </div>
    <div class="menu-container">
        <ul class="menu-container__nav nav p-2">
            <li class="menu-container__nav-item av-item">
                <a class="menu-container__nav-link nav-link" href="#">CONTACT US</a>
            </li>
            <li class="menu-container__nav-item nav-item">
                <a class="menu-container__nav-link nav-link" href="#">TERMS AND CONDITIONS</a>
            </li>
            <li class="menu-container__nav-item nav-item">
                <a class="menu-container__nav-link nav-link" href="#">BUYING ONLINE</a>
            </li>
        </ul>

        <div class="menu-container__input-container d-flex align-items-center ">
            <div class="menu-container__input-group input-group d-flex align-items-center w-100 ps-4">
                <input class="menu-container__input w-75" type="text" placeholder="Search Cosmetics">
                <i class="menu-container__search-icon fas fa-search fa-lg ms-2"></i>
            </div>

            <div class="menu-container__input-icons d-flex">
                <i class="menu-container__cart-icon fas fa-shopping-cart fa-lg mx-3"></i>
                <i class="menu-container__user-icon fas fa-user fa-lg mx-3"></i>
            </div>
        </div>
    </div>
</div>