<!-- PIPES -->
<!-- Se usa para cambiar como se muestran los datos, unicamente mostrar -->
@for (person of persons; track $index) 
{
    <div class="person">
        <div class="person-info">
            <p>Name: {{ person.name | uppercase }}</p>
            <p>Surname: {{ person.surname | lowercase}}</p>
            <p>Birth Date: {{ person.birthDate | date: 'dd/MM/yyyy' }}</p>

            <!-- Para usar otras monedas debemos configurar el app.config -->
            <!-- Se deben poner las config en orden -->
            <p>Salary: {{ person.salary | currency : 'COP' : 'symbol' : '' : 'es-CO'}}</p>

            <p>Salary: {{ person.salary | currency }}</p>
            <p>Decimal: {{ person.decimal | number: '1.3-3'}}</p>
        </div>
        <hr>
    </div>
}
