<!-- header component -->

<div class="header">
    <div class="logo">
        <a href="https://angular.io" target="_blank" rel="noopener">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular logo">
        </a>
    </div>

    <div class="links">
        <a
          href="https://github.com/angular/angular"
          aria-label="Github"
          target="_blank"
          rel="noopener"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="10"
            viewBox="0 0 10 10"
            fill="none"
            width="10"
            alt="Github"
          >
            <path
              d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
            />
          </svg>
        </a>
    </div>
</div>
